body {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ReactCodeMirror .CodeMirror {
  height: auto !important;
}

.ContactUs {
  margin-left: auto;
  max-width: 500px;
  margin-right: auto;
}

.GithubDetail_btn {
  border-radius: 0;
}

.BuildWith .ImageList .ImageList__Container img {
  max-width: 200px;
  width: 200px;
}

.features img,
.Team img {
  height: 100px;
}

.Gif .gif_player img {
  width: auto;
}

.main-header {
  font-size: 5rem;
  font-weight: 700;
  color: rgb(246, 204, 32);
}

.main-subheader {
  font-size: 2rem;
  color: rgb(246, 204, 32);
  font-style: italic;
}

.gif-toolbar {
  max-width: 360px;
  margin-top: 6px;
}

.btn-started {
  background: #fed136;
  border-color: #fed136;
  color: #383e45;
  border-radius: 0;
}

.btn-started:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: #fff;
}

.main-svg {
  width: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#cow {
  transform-origin: 50% 50%;
  animation: progress-indef 15s linear infinite;
}

#bang {
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes progress-indef {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .main-svg {
    display: none;
  }
  .main-header {
    font-size: 2rem;
  }
  .main-subheader {
    font-size: 1rem;
  }
  .gif-toolbar {
    margin-top: 15px;
  }
  .Section div.p-5 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .BuildWith .ImageList .ImageList__Container img {
    margin: 10px 0;
  }
}

:root {
  --Input-borderRadius: 5px;
  --Input-fontSize: 1rem;
  --Button-borderRadius: 0px;
  --Button-padding: 1rem 4rem;
  --GithubDetail__countbubble-borderradius: 0em;
  --GithubDetail__countbubble-padding: 8px;
  --Hero__Header-color: #fed136;
  --Hero__SubHeader-color: #fed136;
}
