.clouds-background::before{
  content: "";
}
.clouds-background{
  /* background-image: url('/clouds.svg');
  background-repeat: no-repeat; */
  min-width: 100vw;
  min-height: 560px;
  position: sticky;
  margin-top: -40%;
}

.navbar a.NavbarLink{ 
  color: #ffffff;
}

.ReactCodeMirror .CodeMirror {
  border-radius: 10px;
  height: auto !important;
}

:root {
  --Navbar-backgroundColor: #419dd7 !important;
  --Navbar-color: #868686;
  --Button-borderRadius: 10px;
  --Button-fontSize: 2rem;
}
